 <nav class="navbar navbar-expand-lg bg-light">
    <a class="navbar-brand" href="#" >Personas</a>
    <div class="container">
         <button class="btn btn-outline-success me-2" type="button" [routerLink]="['/new']">Create</button>
         <button class="btn btn-outline-success me-2" type="button" [routerLink]="['/list']">Read  </button>
         <button class="btn btn-outline-success me-2" type="button" [routerLink]="['/edit']">Update</button>
         <button class="btn btn-outline-success me-2" type="button" [routerLink]="['/delete']">Delete</button>
    </div>
 </nav>
  

  
