<p>details works!</p>

<form>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Name :</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
    </div>
    <div class="col-2 mb-3">
      <label for="formGroupExampleInput2" class="form-label">Age :</label>
      <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Favorite animal :</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
      </div>
  <button class="btn btn-primary" type="submit">Details </button>d
 </form>